<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="IPRISMDB" connectionString="Data Source=192.168.14.171;Initial Catalog=iprism_phase2_QA;User ID=dba;Password=DBA2011;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
		<add name="iprism_Phase2_QA_28AugConnectionString" connectionString="Data Source=192.168.14.171;Initial Catalog=iprism_Phase2_QA_28Aug;User ID=dba;Password=DBA2011" providerName="System.Data.SqlClient"/>
    <add name="MyDbConn1" connectionString="Server=bfwdbdev;Database=HarryRADBTunWork;User ID=BFWUsers;Password=(BFW33);"/>
    <add name="MyDbConn2" connectionString="Server=192.168.78.94\SQL2005;Database=PX_MigrationRegistry_dev;User ID=PX_MigrationAdmin;Password=PX1goAdmin!;"/>
    <add name="SBConnString" connectionString="Data Source=192.168.78.94\SQL2005;Initial Catalog=PX_MigrationRegistry_DEV;Persist Security Info=True;User ID=PX_MigrationAdmin;Password=PX1goAdmin!;Connect Timeout=120" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<roleManager enabled="true" />
  <globalization culture="en-US" uiCulture="en-US"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <httpHandlers>
				<add verb="*" path="*.cspx" type="CspxHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="MyBModule" type="MyBModule" />
    </httpModules>
		<authentication mode="Forms" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  
	<applicationSettings>
		<WebApplication1.Properties.Settings>
   <setting name="WebApplication1_localhost1_SiteMigrationService"
    serializeAs="String">
    <value>http://localhost:52735/SiteMigrationService.svc</value>
   </setting>
  </WebApplication1.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  <bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ISiteMigrationService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:52735/SiteMigrationService.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISiteMigrationService"
    contract="ServiceReference1.ISiteMigrationService" name="WSHttpBinding_ISiteMigrationService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>
